<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<!--  Aqui estoy comentando nuestro index anterior
<html>
    <head>
        <title>TiendaSteven</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Esta es la tienda en linea del curso</h1>
        </header>
        <section>
            <h2>Esta es la tienda en linea del curso</h2>
        </section>
        <footer>
            Todos los Derechos Reservados TiendaSteven 2025 $Copy;
        </footer>
        <div>Text Default</div>
        <div>Una nueva seccion</div>
    </body>
</html>

-->


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
            <header th:replace="~{general/fragmentos :: header}"/>
        
            <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
 
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
    </body>
   
</html>
